.text-cyan {
  color: #008B8B;
}

.text-teal {
  color: #2F4F4F;
}

.back-gray{
  background: #F0FFF0;
}

.text-center{
  text-align: center;
}

.font-size{
  font-size: 18px;
  font-weight: 500;
}

.navbar {
  padding: 0px 0px 0px 50px;
}

.navbar-brand{
  font-size: 25px;
  background-color: teal;
  padding: 15px 15px 15px 15px;
}

a{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html, body{
  padding: 0px;
  margin: auto;
  height: 100%;
}

.col-md-8{
  padding-top: 50px;
  padding-left: 50px;
}

.col-md-4{
  padding-top: 50px;
  padding-right: 50px;
}

.jumbotron{ 
  background-color: white;
  padding-bottom: 0px;
  margin: 0px;
}

.text-wrap{
  float: left;
  margin: 5px;
  height: 150px;
  width: auto;
}

h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  color: teal
}

p{
  background-color: white;
}

.bottom {
  background-color:  teal;
  height: 5px;
  margin-top: 15px; 
}